@font-face {
  font-family: "valerina";
  src        : url("/fonts/valerina.ttf") format("truetype");
  font-style : normal;
  font-weight: normal;
}

@font-face {
  font-family: "NeonBuglerW00-Regular";
  src        : url("//db.onlinewebfonts.com/t/439ca5dbbf8a2a7570de9944f31fdbff.eot");
  src        : url("//db.onlinewebfonts.com/t/439ca5dbbf8a2a7570de9944f31fdbff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/439ca5dbbf8a2a7570de9944f31fdbff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/439ca5dbbf8a2a7570de9944f31fdbff.woff") format("woff"), url("//db.onlinewebfonts.com/t/439ca5dbbf8a2a7570de9944f31fdbff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/439ca5dbbf8a2a7570de9944f31fdbff.svg#NeonBuglerW00-Regular") format("svg");
}

html,
body {
  height          : 100vh;
  width           : 100%;
  padding         : 0;
  margin          : 0;
  font-family     : 'valerina';
  background-color: #1a1a5a;
}

.main {
  position           : relative;
  display            : flex;
  flex-direction     : column;
  align-items        : center;
  justify-content    : center;
  height             : inherit;
  padding            : 0;
  margin             : 0;
  background-image   : url('../img/main-bg.jpg');
  background-size    : cover;
  background-position: 50%;
}

/* #wrap_preloader {
  position       : relative;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : inherit;
  padding        : 0;
  margin         : 0;
} */

/* .spinner {
  margin    : 100px auto 0;
  width     : 70px;
  text-align: center;
}

.spinner>div {
  width           : 18px;
  height          : 18px;
  background-color: white;

  border-radius    : 100%;
  display          : inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation        : sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay        : -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay        : -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform        : scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform        : scale(1.0);
  }
} */

.main.night-bg {
  background-image: url('../img/night-bg.jpg');
}

h1 {
  position          : relative;
  margin            : 0;
  color             : white;
  font-weight       : 400;
  font-size         : 10.417vw;
  -moz-user-select  : none;
  -khtml-user-select: none;
  user-select       : none;
}

h1::before {
  content         : '';
  position        : absolute;
  top             : -20%;
  left            : -20%;
  height          : 100%;
  width           : 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

h1::after {
  content         : '';
  position        : absolute;
  top             : 20%;
  left            : 20%;
  height          : 100%;
  width           : 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

h2 {
  position          : absolute;
  bottom            : 0;
  right             : 0;
  margin            : 0;
  margin-left       : auto;
  margin-right      : 2.083vw;
  color             : white;
  font-size         : 4.167vw;
  font-weight       : normal;
  -moz-user-select  : none;
  -khtml-user-select: none;
  user-select       : none;
}

.button-wrapper {
  position: absolute;
  top     : 3%;
  right   : 2.083vw;
}

.button--night {
  padding: 0.521vw 1.042vw;
  color  : white;
  border : 0.104vw solid white;
}

.button {
  position          : relative;
  display           : inline-block;
  padding           : 0.833vw 1.667vw;
  font-size         : 2.083vw;
  font-family       : "NeonBuglerW00-Regular";
  text-transform    : uppercase;
  text-decoration   : none;
  letter-spacing    : 0.208vw;
  overflow          : hidden;
  -moz-user-select  : none;
  -khtml-user-select: none;
  user-select       : none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.button__line {
  position: absolute;
  display : block;
}

.button--cyan {
  color: #0ABDC6;
}

.button--cyan__line--top {
  background: linear-gradient(90deg, transparent, #0ABDC6);
}

.button--cyan__line--bottom {
  background: linear-gradient(180deg, transparent, #0ABDC6);
}

.button--cyan__line--left {
  background: linear-gradient(0deg, transparent, #0ABDC6);
}

.button--cyan__line--right {
  background: linear-gradient(270deg, transparent, #0ABDC6);
}

.button__line--top {
  top   : 0;
  left  : -100%;
  width : 100%;
  height: 0.104vw;
}

.button:hover .button__line--top {
  left            : 100%;
  transition      : 1s;
  transition-delay: 0.25s;
}

.button__line--bottom {
  bottom: 0;
  right : -100%;
  width : 100%;
  height: 0.104vw;
}

.button:hover .button__line--bottom {
  right           : 100%;
  transition      : 1s;
  transition-delay: 0.25s;
}

.button__line--left {
  bottom: -100%;
  left  : 0;
  width : 0.104vw;
  height: 100%;
}

.button:hover .button__line--left {
  bottom          : 100%;
  transition      : 1s;
  transition-delay: 0s;
}

.button__line--right {
  top   : -100%;
  right : 0;
  width : 0.104vw;
  height: 100%;
}

.button:hover .button__line--right {
  top             : 100%;
  transition      : 1s;
  transition-delay: 0s;
}

.button--cyan:hover {
  color           : #091833;
  box-shadow      : 0 0 0.521vw #0ABDC6, 0 0 2.083vw #0ABDC6, 0 0 4.167vw #0ABDC6;
  background-color: #0ABDC6;
  transition-delay: 0.6s;
}
